body{
    background-color: rgb(166, 166, 166);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.heading{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
}

ul{
    display: flex;
    font-size: 1.5rem;
    gap: 1.5rem;
    list-style: none;
}

.main{
    display: flex;
    gap: 1rem;
    width: 100%;
}   

.section1{
    background-color: white;
    height: 33rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.aside{
    background-color: white;
    height: 33rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.footer{
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}
